* {
    background-color: #d7d6d7;
}

/*---------------- FLEXBOX START ----------------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}


/*---------------- FLEXBOX END -----------------*/

<<<<<<< HEAD
/*---------------- LOGO END -----------------*/

#forside h2 {
    text-align: center;
}

/*---------------- LOGO END -----------------*/
=======
>>>>>>> origin/master

/*---------------- ICON START ------------------*/

.icon {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 7%;

}


/*---------------- ICON END ------------------*/

/*---------------- TEXT START ------------------*/

@font-face {

    font-family: "Bolts-SF";
    src: url('Bolts-SF.woff2') format('woff2'), url('Bolts-SF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Bolts-SF';
    font-size: 100px;
    color: #bf1320;
    text-align: center;
}
}

h3 {
    font-family: 'Anton', sans-serif;
    color: #bf9a67;
}

p {
    font-family: 'PT Serif', serif;
    color: #000000;
}


/*---------------- TEXT END ------------------*/

/*---------------- BILLEDER START ------------------*/

#forside .column {
    padding: 2%;
}


/*---------------- BILLEDER END ------------------*/
