body {
    background-color: #d7d6d7;
}

body {
    background-color: #d7d6d7;
    margin: 0;
}

> > > > > > > origin/master
/* ----------------- NAVIGATION START ---------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*
position: fixed;
top: 0px;
left: 0px;
width: 60%;
*/
}

ul li {
    float: left;
    list-style-type: none;


}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #bf1320;
}

ul li a.active {
    background-color: #4CAF50;
}

ul li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul li.right,
    ul li {
        float: none;
    }
}


/* ----------------- NAVIGATION END ---------------- */

/*---------------- FLEXBOX START ----------------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}

.splash {
    background-repeat: no-repeat;
    background-size: 100%;
}

/*---------------- FLEXBOX END -----------------*/

/*---------------- ICON START ------------------*/

.icon {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 7%;

}

/*---------------- ICON END ------------------*/

/*---------------- TEXT START ------------------*/

@font-face {

    font-family: "Bolts-SF";
    src: url('Bolts-SF.woff2') format('woff2'), url('Bolts-SF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Bolts-SF';
    font-size: 100px;
    color: #bf1320;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-family: 'Anton', sans-serif;
    color: white;
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 4em;
    margin: 0;
    margin-left: 100px;
}

p {
    <<<<<<< HEAD font-family: 'PT Serif', serif;
    color: #000000;
    padding: 10% 10%;
    =======font-family: 'PT Serif', serif;
    color: #000000;
    > > > > > > > origin/master
}

/*---------------- TEXT END ------------------*/

/*---------------- SPLASH START ----------------*/

#splash {
    width: 100vw;
    height: 50vw;
    background-image: url(img/Tarp_splash_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*@media screen and (max-width: 480px)*/

@media screen and (max-width: 480px) and (orientation: portrait) {
    #splash {
        background-image: url(img/Tarp_mobil.jpg);
        height: 167vw;
    }
}

/*---------------- FORSIDE START ------------------*/

#forside .column {
    padding: 2%;
}

#forside .column img {
    border-style: solid;
    border-radius: 100px;
    border-color: white;
    margin-left: 100px;
}


/*---------------- FORSIDE END ------------------*/

/*----------------- PADDING START -----------------*/

#boghandel p,
#kontorforsyning p {
    padding-right: 10%;
    padding-left: 10%;

}

#boghandel_kontakt p,
h3,
#kontorforsyning_kontakt p,
h3 {
    padding-left: 30px;
}

iframe {
    padding-right: 10%;
    padding-left: 10%;
}

/*----------------- PADDING END -----------------*/

/*--------------- MARGIN START ------------------*/

#kontorforsyning .column,
#boghandel .column,
#boghandel_kontakt .column,
#kontorforsyning_kontakt .column {
    margin-bottom: 60px;
}

/*--------------- MARGIN END ------------------*/

/*---------------- BURGER START ------------------*/

#kontorforsyning .burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/*---------------- BURGER END ------------------*/

/*---------------- MOBILE START ------------------*/

input#menu {
    display: none;
}

@media screen and (max-width: 480px) {

    ul li a {
        text-align: left;
    }


    .menu-content {
        max-height: 0;
        overflow: hidden;
    }

    .dropdown-menu {

        padding: 20px;
        border-bottom: 2px #603d7b;
        box-shadow: 1px 2px 3px rgba(0, 0, 0.2);
        /*
    position: fixed;
    top: 0px;
    left: 0px;
    width: 7%;
*/
    }

    .dropdown-menu ul {
        list-style-type: none;
        padding: 0;

    }

    .dropdown-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: 000;
    }

    .dropdown-menu label {
        display: block;
        cursor: pointer;
        background: url(img/lukket_bog.png) no-repeat left center;
        padding: 30px 0 30px 80px;
    }



    /*Toogle Effect */
    input:checked ~ label {
        background: url(img/aaben_bog.png) no-repeat left center;
    }

    input:checked ~ .menu-content {
        max-height: 100%;

    }
}

/*---------------- MOBILE END ------------------*/

/*---------------- VIDEO START ------------------*/

.video {
    border-image-slice: 0 12 0 12;
    border-image-width: 20px 12px 0px 12px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("https://cdn.pixabay.com/photo/2016/06/09/20/25/frame-1446516_1280.png");
}

/*---------------- VIDEO END ------------------*/

/*---------------- BACKGROUND START ------------------*/
