* {
    background-color: #d7d6d7;
}

/* ----------------- NAVIGATION START ---------------- */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/* ----------------- NAVIGATION END ---------------- */


/*-------------- BURGER NAV START --------------*/


/*-------------- BURGER NAV END --------------*/


/*---------------- FLEXBOX START ----------------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}

/*---------------- FLEXBOX END -----------------*/


/*---------------- ICON START ------------------*/

.icon {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 7%;

}

/*---------------- ICON END ------------------*/


/*---------------- TEXT START ------------------*/

@font-face {

    font-family: "Bolts-SF";
    src: url('Bolts-SF.woff2') format('woff2'), url('Bolts-SF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Bolts-SF';
    font-size: 100px;
    color: #bf1320;
    text-align: center;
}

}

h3 {
    font-family: 'Anton', sans-serif;
    color: #bf9a67;
}

p {
    font-family: 'PT Serif', serif;
    color: #000000;
}

/*---------------- TEXT END ------------------*/


/*---------------- BILLEDER START ------------------*/

#forside .column {
    padding: 2%;
}

/*---------------- BILLEDER END ------------------*/


/*----------------- PADDING START -----------------*/

#boghandel p, #kontorforsyning p{
    padding-right: 10%;
    padding-left: 10%;

}

#boghandel_kontakt p,h3, #kontorforsyning_kontakt p,h3{
    padding-left: 50px;
}

iframe {
    padding-left: 10%;
}

/*----------------- PADDING END -----------------*/


/*--------------- MARGIN START ------------------*/

#kontorforsyning .column, #boghandel .column, #boghandel_kontakt .column, #kontorforsyning_kontakt .column{
margin-bottom: 60px;
}

/*--------------- MARGIN END ------------------*/

#kontorforsyning .burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
